/* --- CONTENEDOR DE NIVELES --- */
.niveles-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 5%;
    background: #ffffff; /* Fondo blanco para que resalten las cartas */
    flex-wrap: wrap; /* Importante para el responsive */
}

/* --- ESTILO DE LA TARJETA --- */
.nivel-card {
    width: 320px;
    background: #ffffff; /* Azul oscuro como el de tu imagen */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0);
    transition: transform 0.3s ease;
    position: relative;
}

.nivel-card:hover {
    transform: translateY(-40px); /* Efecto de levante al pasar el mouse */
}

/* --- IMAGEN DE LA TARJETA --- */
.nivel-img img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Evita que la foto se estire */
    display: block;
}

/* --- TEXTO DE LA TARJETA --- */
.nivel-info {
    padding: 35px 20px;
    text-align: center;
    position: relative;
}

.nivel-info h2 {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600; /* Letra gruesita */
    line-height: 1.2;
    margin: 0;
}

.nivel-info h2 span {
    font-size: 30px; /* La palabra del nivel más grande */
    letter-spacing: 1px;
}
.nivel-desc {
    font-size: 14px;
    color: #555;
    margin-top: 8px;
    line-height: 1.4;
}
/* --- CURVA DE COLOR INFERIOR --- */
.curva-color {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    /* Esto crea la panza hacia arriba de color */
    clip-path: ellipse(100% at 100%);
}

.amarillo { background: #4c4a49; }
.verde { background: #4c4a49; }
.naranja { background: #4c4a49; }

/* --- RESPONSIVE --- */
@media (max-width: 1024px) {
    .niveles-container {
        gap: 20px;
    }
    .nivel-card {
        width: 45%; /* En tablets se ven 2 por fila */
    }
}

@media (max-width: 600px) {
    .nivel-card {
        width: 100%; /* En celular se ve 1 por fila */
    }
}
